/target/*
/src/main/java/dqm/jku/trustkg/resources/csv/Telematic*
/src/main/java/dqm/jku/trustkg/resources/csv/Acceleration*
/src/main/java/dqm/jku/trustkg/resources/export/csv/Tributech*
/src/main/java/dqm/jku/trustkg/resources/export/csv/export_telematic*
/src/main/java/dqm/jku/trustkg/resources/export/csv/export_Acceleration*
/src/main/java/dqm/jku/trustkg/resources/csv/1500000 Sales Records.csv
/Neo4j/*
/.settings/*
.classpath
/target/
Grafana/grafana-6.2.5_windows/data/
/.vs